.contact-info {
  @include font($montserrat, normal, 400);
  font-size: 18px;
  line-height: 32px;
  display: block;
  padding-top: 36px;
  padding-bottom: 32px;
  text-align: center;
  color: $black-russian;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.contact-info__phone-icon {
  margin-right: 4px;
  vertical-align: middle;
  text-align: center;
  fill: none;
  stroke: $black-russian;
}

// .contact-info__mail-icon {}
