.contact-form {
  display: flex;
  width: calc(100% - 750px);
  min-width: 1024px;
  min-height: 736px;
  margin: 0 auto;
  margin-bottom: 100px;
  background: linear-gradient(90deg, $basic-apricot, $special-gainsboro);
  background-image: url("../../img/form.jpg");
  background-position: 0 0;
  background-size: 844px 455px;
  background-repeat: no-repeat;

  @media (max-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    min-height: 390px;
    min-width: 658px;
    margin-bottom: 57px;
    padding-top: 70px;
    background-image: url("../../img/form-tablet.jpg");
    background-position: 0 0;
    background-size: contain;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    min-width: 288px;
    min-height: 341px;
    margin-bottom: 0;
    padding: 0;
    background-image: none;
    background-color: transparent;
  }
}

.contact-form__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 613px);
  height: 100%;
  max-width: 656px;
  min-height: 216px;
  margin: 70px 0 0 auto;
  margin-bottom: 100px;
  padding: 50px 49px 49px 50px;
  background-color: $basic-white;
  box-shadow: 0 4px 30px $shadow;
  border-radius: 5px;

  @media (max-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 210px);
    min-width: 558px;
    min-height: 211px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 50px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-bottom: 50px;
    padding: 50px 16px 0;
    min-width: 288px;
    min-height: 390px;
    border-radius: 0;
    box-shadow: none;
    background-color: $special-snow;
  }
}

.contact-form__title {
  @include font($montserrat, normal, 600);
  font-size: 25px;
  line-height: 32px;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  color: $black-russian;

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
    text-align: center;
  }
}

.contact-form__description {
  @include font($montserrat, normal, 400);
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
    text-align: center;
  }
}
