.contact-form {
  display: flex;
  width: calc(100% - 750px);
  min-width: 1170px;
  min-height: 736px;
  margin: 0 auto;
  margin-bottom: 100px;
  background: linear-gradient(90deg, $basic-apricot, $special-gainsboro);
  background-image: url("../../img/form.jpg");
  background-position: 0 0;
  background-size: 844px 455px;
  background-repeat: no-repeat;

  // @media (max-width: $tablet-width) {
  //   display: flex;
  //   flex-wrap: wrap;
  //   width: calc(100% - 42px);
  //   height: auto;
  //   min-height: 861px;
  //   min-width: 616px;
  //   margin-bottom: 100px;
  //   background-image: url("../../img/form-tablet.jpg");
  //   background-position: 0 0;
  //   background-size: contain;
  // }

  // @media (max-width: $mobile-width) {
  //   display: block;
  //   width: calc(100% - 32px);
  //   margin-bottom: 50px;
  //   min-width: 288px;
  //   background-image: none;
  //   background-color: transparent;
  // }
}

.contact-form__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 613px);
  height: 100%;
  max-width: 656px;
  min-height: 216px;
  margin: 70px 0 0 auto;
  margin-bottom: 100px;
  padding: 50px 49px 49px 50px;
  background-color: $basic-white;
  box-shadow: 0 4px 30px $shadow;
  border-radius: 5px;

  // @media (max-width: $tablet-width) {
  //   display: flex;
  //   flex-wrap: wrap;
  //   width: calc(100% - 42px);
  //   height: auto;
  //   min-height: 861px;
  //   min-width: 616px;
  //   margin-bottom: 100px;
  // }

  // @media (max-width: $mobile-width) {
  //   display: block;
  //   width: calc(100% - 32px);
  //   margin-bottom: 50px;
  //   min-width: 288px;
  // }
}

.contact-form__title {
  @include font($montserrat, normal, 600);
  font-size: 25px;
  line-height: 32px;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  color: $black-russian;
}

.contact-form__description {
  @include font($montserrat, normal, 400);
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
}

.contact-form__form {}

