.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.form::before {
  position: absolute;
  content: "*";
  top: 4px;
  left: 15px;
  color: $basic-apricot;

  @media (max-width: $tablet-width) {
    top: 4px;
    left: 14px;
  }

  @media (max-width: $mobile-width) {
    top: 2px;
    left: 15px;
  }
}

.form__wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.form__item {
  width: calc((100% - 19px) / 2);
  margin-bottom: 28px;
  padding: 16px 15px 15px 15px;
  border: 1px solid $special-grey-rock;
  box-sizing: border-box;
  color: $black-russian;

  &::placeholder {
    @include font($montserrat, normal, 400);
    font-size: 14px;
    line-height: 17px;
    color: $black-russian;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
}

.form__item--phone {
  margin-right: 18px;
  padding: 16px 15px 15px 25px;

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-right: 0;
  }
}

.form__button {
  width: 176px;
  padding: 18px 39px 17px 40px;

  @media (max-width: $tablet-width) {
    width: 250px;
    padding: 19px 39px 19px 40px;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
  }
}

.form__item--error {
  border: 1px solid $basic-apricot;
  box-sizing: border-box;
}
