.page-header {
  min-height: 100px;

  @media (max-width: $tablet-width) {
    min-height: 50px;
    max-height: 568px;
  }
}

.page-header__wrapper {
  width: 61%;
  height: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet-width) {
    width: 100%;
    min-width: 768px;
    height: 100%;
    padding-left: 0;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    min-width: 320px;
  }
}

.page-header__logo {
  @media (max-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 0;
  }
}
