.popup {
  width: 100%;
  height: 100%;

  position: fixed;
  display: none;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 40;
}

.popup--show {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.popup__wrapper {
  position: relative;
  width: 728px;
  height: 444px;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;

  color: $grey;
  background-image: url("../img/buy.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 338px 444px;
  background-color: $special-snow;

  @media (max-width: $mobile-width) {
    width: 320px;
    height: 568px;
    background-image: none;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/buy@2x.jpg");
    background-position: 0 0;
    background-size: 338px 444px;
    background-repeat: no-repeat;

    @media (max-width: $mobile-width) {
      background-image: none;
    }
  }
}

.popup__title {
  @include font($montserrat, normal, 600);
  font-size: 25px;
  line-height: 43px;

  margin: 74px 125px 48px auto;
  text-align: center;
  color: $grey;

  @media (max-width: $mobile-width) {
    margin: 102px auto 48px;
  }
}

.popup__form {
  width: 54%;
  margin: 0 0 0 auto;

  @media (max-width: $mobile-width) {
    width: 100%;
    margin: 0 auto;
  }
}

.popup__form::before {
  position: absolute;
  content: "*";
  top: 4px;
  left: 78px;
  color: #fe7865;

  @media (max-width: $mobile-width) {
    top: 4px;
    left: 30px;
  }
}

.popup__close {
  width: 30px;
  height: 30px;
  top: 14px;
  right: 22px;
  position: absolute;
  align-self: flex-end;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  @media (max-width: $mobile-width) {
    right: 15px;
  }
}

.popup__close::before {
  content: "";
  position: absolute;
  top: 5px;
  right: -3px;
  width: 24px;
  height: 24px;
  border: none;
  background-image: url("../img/icons/cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (max-width: $mobile-width) {
    right: 5px;
  }
}
