.popup {
  width: 728px;
  height: 444px;
  margin: auto;

  position: fixed;
  display: none;

  top: 30%;
  bottom: auto;
  left: 0;
  right: 0;

  color: $grey;
  background-image: url("../../img/buy.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 338px 444px;
  background-color: $special-snow;
  z-index: 40;

  @media (max-width: $mobile-width) {
    width: 320px;
    height: 568px;
    top: 10%;
    background-image: none;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/buy@2x.jpg");
    background-position: 0 0;
    background-size: 338px 444px;
    background-repeat: no-repeat;

    @media (max-width: $mobile-width) {
      background-image: none;
    }
  }
}

.popup .form::before {
  position: absolute;
  content: "*";
  top: 2px;
  left: 61px;
  color: #fe7865;

  @media (max-width: $mobile-width) {
    top: 5px;
    left: 15px;
  }
}

.popup--show {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  animation: bounce 0.6s;
}

.popup__wrapper {
  position: relative;
  width: 48%;
  height: auto;
  padding: 74px 22px;

  @media (max-width: $mobile-width) {
    width: 320px;
    height: 568px;
    padding: 100px 16px;
  }
}

.popup__title {
  @include font($montserrat, normal, 600);
  font-size: 25px;
  line-height: 43px;

  margin: 0;
  margin-bottom: 49px;
  text-align: center;
  color: $grey;
}

.popup__form .form__item {
  width: 270px;
  height: 50px;
  margin: 0 0 20px;

  @media (max-width: $mobile-width) {
    width: 288px;
  }
}

.popup__close {
  width: 30px;
  height: 30px;
  top: 14px;
  right: 22px;
  position: absolute;
  align-self: flex-end;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  @media (max-width: $mobile-width) {
    right: 15px;
  }
}

.popup__close::before {
  content: "";
  position: absolute;
  top: 5px;
  right: -3px;
  width: 24px;
  height: 24px;
  border: none;
  background-image: url("../../img/icons/cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (max-width: $mobile-width) {
    right: 5px;
  }
}
