.price--position {
  min-height: 678px;
  margin-top: -270px;
  margin-bottom: 135px;

  @media (max-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 110px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 0;
    max-height: 1744px;
  }
}

.price__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 750px);
  min-width: 1024px;
  min-height: 672px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 42px);
    height: auto;
    min-width: 616px;
    min-height: 923px;
    margin-bottom: 35px;
  }

  @media (max-width: $mobile-width) {
    width: calc(100% - 32px);
    margin-bottom: 20px;
    min-width: 288px;
  }
}

.price__list {
  display: flex;
  width: calc((100% / 3) * 2);
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: $tablet-width) {
    width: calc(100% - 100px);
    margin: 0 auto;
    justify-content: space-between;
    order: 1;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

.price__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc((100% - 30px) / 2);
  max-width: 370px;
  padding: 17px 30px 0;

  @media (max-width: $tablet-width) {
    width: calc((100% - 50px) / 2);
    padding: 29px 0 0;
    align-items: center;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    min-height: 629px;
    margin-bottom: 30px;
  }
}

.price__item:not(:last-child) {
  margin-right: 30px;

  @media (max-width: $tablet-width) {
    margin-right: 0;
  }
}

.price__info {
  width: calc((100%/3) - 85px);
  padding: 80px 0 0 85px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-bottom: 10px;
    padding: 0;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 12px;
  }
}

.price__title {
  position: relative;
  width: 100%;
  margin: 40px 0 35px;

  @media (max-width: $tablet-width) {
    width: 100%;
    margin: 0;
  }
}

.price__title::after {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    top: 96px;
    left: 0;
    width: 175px;
    height: 3px;
    background: $basic-apricot;
  }
}

.price__description {
  @include font($montserrat, normal, 400);
  font-size: 16px;
  line-height: 27px;
  width: 100%;
  margin: 16px 0 65px;
  color: $special-black-rock;

  @media (max-width: $tablet-width) {
    width: 100%;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 32px;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 22px;
  }
}

.price__contacts {
  width: 100%;
  margin: 0;
  padding: 0;

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 27px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 26px;
  }
}

.price__contact-title {
  @include font($montserrat, normal, 500);
  font-size: 22px;
  line-height: 34px;
  margin: 0 0 10px;
  padding: 0;
  text-align: center;
  color: $black-russian;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    margin: 0 0 12px 0;
  }
}

.price__phone {
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-align: start;
  text-decoration: none;
  color: $basic-black;

  @media (max-width: $tablet-width) {
    margin: 0 auto;
    font-size: 18px;
    text-decoration-line: underline;
    color: $basic-apricot;
  }

  @media (max-width: $mobile-width) {
    text-align: center;
  }
}

.price__icon {
  margin-right: 10px;
  stroke: $basic-apricot;

  @media (max-width: $tablet-width) {
    display: none;
  }
}
