.price--position {
  margin-top: -270px;
  margin-bottom: 140px;

  @media (max-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 110px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 50px;
  }
}

.price__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px min-content 2fr;
  grid-column-gap: 30px;
  width: calc(100% - 750px);
  min-width: 1024px;
  min-height: 672px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 42px);
    height: auto;
    min-width: 616px;
    min-height: 861px;
    margin-bottom: 35px;
  }

  @media (max-width: $mobile-width) {
    display: block;
    width: calc(100% - 32px);
    margin-bottom: 50px;
    min-width: 288px;
  }
}

.price__title {
  position: relative;
  margin: 40px 0 35px 65px;
  grid-column: 3;
  grid-row: 2;

  @media (max-width: $tablet-width) {
    width: 100%;
    margin: 0;
  }
}

.price__title::after {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    top: 96px;
    left: 0;
    width: 175px;
    height: 3px;
    background: $basic-apricot;
  }
}

.price__description {
  @include font($montserrat, normal, 400);
  font-size: 16px;
  line-height: 27px;
  width: 82%;
  grid-column: 3;
  grid-row: 3;
  margin: 16px 0 65px 65px;
  color: $special-black-rock;

  @media (max-width: $tablet-width) {
    width: 100%;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 32px;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 22px;
  }
}

.price__contacts {
  grid-column: 3;
  grid-row: 3;
  height: 90px;
  margin: 0;
  padding: 0;
  align-self: end;
  margin-bottom: 81px;

  @media (max-width: $tablet-width) {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 27px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 26px;
  }
}

.price__contact-title {
  @include font($montserrat, normal, 500);
  font-size: 22px;
  line-height: 34px;
  grid-column: 3;
  grid-row: 4;
  margin: 0 0 10px 60px;
  padding: 0;
  text-align: center;
  color: $black-russian;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    margin: 0 0 12px 0;
  }
}

.price__phone {
  font-size: 20px;
  margin: 0;
  margin-left: 60px;
  padding: 0;
  text-align: start;
  text-decoration: none;
  color: $basic-black;

  @media (max-width: $tablet-width) {
    margin: 0 auto;
    font-size: 18px;
    text-decoration-line: underline;
    color: $basic-apricot;
  }

  @media (max-width: $mobile-width) {
    text-align: center;
  }
}

.price__phone .contact-info__phone-icon {
  margin-right: 15px;
  stroke: $basic-apricot;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.price__list {
  display: flex;
  grid-column: 1/3;
  grid-row: 1/-1;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: $tablet-width) {
    width: calc(100% - 100px);
    margin: 0 auto;
  }

  @media (max-width: $mobile-width) {
    display: block;
    width: 100%;
    margin-bottom: 50px;
  }
}

.price__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc((100% - 30px) / 2);
  padding: 0;

  @media (max-width: $tablet-width) {
    width: calc((100% - 50px) / 2);
    padding: 29px 0 0;
    // justify-content: flex-start;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    min-height: 629px;
    margin-bottom: 30px;
  }
}

.price__item:not(:last-child) {
  margin-right: 30px;

  @media (max-width: $tablet-width) {
    margin-right: 50px;
  }
}
