.site-list {
  padding-right: 31px;

  @media (max-width: $tablet-width) {
    min-height: 435px;
    padding: 83px 0 0 0;
    padding-right: 0;
  }
}

.site-list__item {
  margin-right: 40px;

  @media (max-width: $tablet-width) {
    width: 100%;
    display: flex;
    position: relative;
    align-items: flex-start;
    margin-right: 0;
    margin-bottom: 28px;
    padding-left: 16px;
    background: $special-snow;
  }
}

.site-list__item::after {
  @media (max-width: $tablet-width) {
    content: "";
    position: absolute;
    top: 24px;
    right: 41px;
    width: 7px;
    height: 12px;
    background: url("../img/icons/arrow.svg");
  }
}

.site-list__item:focus .site-list__link,
.site-list__item:hover .site-list__link {
  color: $special-cinnamon;
}


.site-list__link {
  @include font($montserrat, normal, 500);
  font-size: 14px;
  line-height: 17px;
  display: block;
  padding-top: 42px;
  padding-bottom: 41px;
  text-align: center;
  text-decoration: none;
  color: $black-russian;

  @media (max-width: $tablet-width) {
    @include font($montserrat, normal, 600);
    font-size: 20px;
    line-height: 28px;
    padding-top: 17px;
    padding-bottom: 17px;
    color: $grey;
  }
}
